# Analysis
###

In [10]:
# Create a reference to the CSV and import it into a Pandas DataFrame
import pandas as pd
from pathlib import Path

schoolspath = Path("Resources/schools_complete.csv")
studentspath = Path("Resources/students_complete.csv")

#Assign a dataframe for each set
schools_info_df = pd.read_csv(schoolspath)
students_info_df = pd.read_csv(studentspath)

# Merge the two dataframes 
schools_info_complete = pd.merge(students_info_df, schools_info_df, how="left", on=["school_name", "school_name"])
schools_info_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [11]:
# Calculate the number of schools
school_count = len(schools_info_df["school_name"].unique())
school_count

15

In [12]:
# Calculate the number of students
student_count = len(students_info_df["student_name"].unique())
student_count

32715

In [13]:
# Calculate the budget
schools_total_budget = schools_info_df["budget"].sum()
schools_total_budget

24649428

In [14]:
# Calculate the average (mean) math score
average_math = students_info_df["math_score"].mean()
average_math

78.98537145774827

In [15]:
# Calculate the average (mean) reading score
average_reading = students_info_df["reading_score"].mean()
average_reading

81.87784018381414

In [16]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = students_info_df[(students_info_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [17]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = students_info_df[(students_info_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

102.73574812777014

In [18]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = students_info_df[
    (students_info_df["math_score"] >= 70) & (students_info_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [30]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": school_count, "Total Students": student_count, 
                                 "Total Budget": schools_total_budget, "Average Math Score": average_math, 
                                 "Average Reading Score": average_reading, "% Passing Math": passing_math_percentage, 
                                 "% Passing Reading": passing_reading_percentage, "% Overall Passing": overall_passing_rate}, index = [0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"32,715","$24,649,428.00",78.985371,81.87784,89.775332,102.735748,78.031484

# School Summary

In [56]:
# Use the code provided to select all of the school types
school_types = schools_info_complete.groupby(["school_name", "type"])
school_types_df = school_types.sum()
school_types_df

C:\Users\lifeo\AppData\Local\Temp\ipykernel_18696\2810584237.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_types_df = school_types.sum()

,,Student ID,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,
Bailey High School,District,101303896,403225,383393,34832,24760576,15549641728
Cabrera High School,Charter,31477307,156027,154329,11148,3452164,2009159448
Figueroa High School,District,12949059,239335,226223,2949,8696601,5557128039
Ford High School,District,99055935,221164,211184,35607,7502121,4831365924
Griffin High School,Charter,19077394,123043,122360,5872,2155024,1346890000
Hernandez High School,District,46090440,375131,358238,13905,21483225,14007062700
Holden High School,Charter,9846620,35789,35784,3416,182329,105933149
Huang High School,District,4252986,236810,223528,0,8508889,5573322295
Johnson High School,District,154327815,385481,366942,57132,22667121,14733628650
Pena High School,Charter,22851829,80851,80654,8658,925444,563595396
Rodriguez High School,District,112111965,322898,307294,43989,15992001,10186904637
Shelton High School,Charter,11879706,147441,146796,3522,3101121,1860672600
Thomas High School,Charter,62705520,137093,136389,22890,2673225,1705517550
Wilson High School,Charter,33950493,191748,190115,11415,5212089,3012587442
Wright High School,Charter,45243900,151119,150628,18000,3240000,1888920000

In [78]:
# Calculate the total student count per school
per_school_counts = schools_info_complete.groupby(["school_name", "size"])
per_school_counts_df = per_school_counts.sum()
per_school_counts_df

C:\Users\lifeo\AppData\Local\Temp\ipykernel_18696\1725048841.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_counts_df = per_school_counts.sum()

,,Student ID,reading_score,math_score,School ID,budget
school_name,size,,,,,
Bailey High School,4976,101303896,403225,383393,34832,15549641728
Cabrera High School,1858,31477307,156027,154329,11148,2009159448
Figueroa High School,2949,12949059,239335,226223,2949,5557128039
Ford High School,2739,99055935,221164,211184,35607,4831365924
Griffin High School,1468,19077394,123043,122360,5872,1346890000
Hernandez High School,4635,46090440,375131,358238,13905,14007062700
Holden High School,427,9846620,35789,35784,3416,105933149
Huang High School,2917,4252986,236810,223528,0,5573322295
Johnson High School,4761,154327815,385481,366942,57132,14733628650
Pena High School,962,22851829,80851,80654,8658,563595396
Rodriguez High School,3999,112111965,322898,307294,43989,10186904637
Shelton High School,1761,11879706,147441,146796,3522,1860672600
Thomas High School,1635,62705520,137093,136389,22890,1705517550
Wilson High School,2283,33950493,191748,190115,11415,3012587442
Wright High School,1800,45243900,151119,150628,18000,1888920000

In [128]:
# Calculate the total school budget and per capita spending per school
per_school_budget = schools_info_complete.groupby(["school_name", "budget"])
per_school_budget_df = per_school_counts.sum()
per_school_capita = per_school_budget_df["budget"].sum()/per_school_counts["size"].sum()

C:\Users\lifeo\AppData\Local\Temp\ipykernel_18696\2672175935.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget_df = per_school_counts.sum()

In [129]:
# Calculate the average test scores per school
per_school_math = schools_info_complete.groupby(["school_name", "math_score"])
per_school_math_df = schools_info_complete["math_score"].sum()/per_school_counts["size"].sum()                                             


per_school_reading = schools_info_complete.groupby(["school_name", "reading_score"])
per_school_reading_df = schools_info_complete["reading_score"].sum()/per_school_counts["size"].sum()

In [130]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = schools_info_complete[schools_info_complete['math_score'] >= 70].groupby(['school_name'])
school_students_passing_math = students_passing_math
schools_info_complete.groupby(["school_name", "budget"])

In [131]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = schools_info_complete[schools_info_complete['reading_score'] >= 70].groupby(['school_name'])
school_students_passing_reading = students_passing_reading
schools_info_complete.groupby(["school_name", "budget"])

In [132]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = schools_info_complete[
    (schools_info_complete["reading_score"] >= 70) & (schools_info_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [136]:
# Use the provided code to calculate the passing rates
per_school_passing_math = (school_students_passing_math).sum() / (per_school_counts_df).sum() * 100
per_school_passing_reading = (school_students_passing_reading).sum() / (per_school_counts_df).sum() * 100
overall_passing_rate = (school_students_passing_math_and_reading).sum() / (per_school_counts_df).sum() * 100

C:\Users\lifeo\AppData\Local\Temp\ipykernel_18696\2677244401.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_passing_math = (school_students_passing_math).sum() / (per_school_counts_df).sum() * 100
C:\Users\lifeo\AppData\Local\Temp\ipykernel_18696\2677244401.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_passing_reading = (school_students_passing_reading).sum() / (per_school_counts_df).sum() * 100

In [141]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Name": school_name,
                                  "School Type":school_types,
                                  "Total Students":student_count,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "% Passing Math":school_pct_passing_math,
                                  "% Passing Reading":school_pct_passing_reading,
                                  "Overall Passing Rate":school_overall_passing}, index = [0])

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary = per_school_summary.reset_index(drop=True)
per_school_summary

NameError: name 'school_name' is not defined

In [ ]:
# Highest-Performing Schools (by % Overall Passing)